.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.header__left {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.header__logo {
    align-items: center;
    display: flex;
}

.header__title {
    padding-left: .5rem;
}

.header__list {
    align-items: center;
    display: flex;
}

.header__nav___item {
    font-weight: 500;
    padding: 0 1rem;
    color: var(--text-color);
}

.header__button--login {
    color: var(--text-color);
    padding: 0 1.875rem;
}

.header__button--signup {
    color: white;
    border: 1px solid;
    background-color: var(--main-color);
    padding: 10px 18px;
    border-radius: 8px;
}